.search-bar {
  background-color: var(--n-100);
  border: 1px solid var(--n-300);
  border-radius: 0.5 rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  color: var(--n-700);
}
.search-bar button {
  background-color: var(--p-500);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}
.search-bar button svg {
  width: 1.25rem;
  height: 1.25 rem;
  stroke: var(--n-100);
}
.search-bar button:hover {
  background-color: var(--p-700);
}
