/*========== khung sidebar ======== */
.sidebar-container {
  width: 260px;
  padding: 2rem 1.5rem;
  background: var(--p-900);
  color: var(--n-300);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

/*=========== phần logo + btn ====== */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.logo-text {
  font-family: "Poppins", sans-serif;
  font-size: var(--h2-font-size);
  font-weight: 700;
  color: var(--n-100);
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
}
.toggle-btn {
  background: transparent;
  border: none;
  color: var(--n-500);
  font-size: 1.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.toggle-btn:hover {
  color: var(--n-100);
}

/*========= các tab ======= */
.menu-item {
  color: var(--n-300);
  display: flex;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: background-color 0.2s;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--n-100);
}

.menu-item.active {
  background-color: var(--p-500);
  color: var(--n-100);
  font-weight: 600;
}
.menu-text {
  font-family: "Roboto", sans-serif;
  font-size: var(--p-font-size);
  transition: all 0.2 ease-in-out;
  white-space: nowrap;
  overflow: hidden;
}
.menu-icon {
  min-width: 40px;
  font-size: var(--h3-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*====== thu nhỏ sidebar ===== */
.container.sidebar-collapsed .sidebar-container {
  width: 80px;
  padding: 2rem 1rem;
}
.container.sidebar-collapsed .logo-text {
  opacity: 0;
  width: 0;
  pointer-events: none;
}
.container.sidebar-collapsed .menu-text {
  opacity: 0;
  width: 0;
}
.container.sidebar-collapsed .menu-item {
  justify-content: center;
}

/*====== log out ===== */
.logout-link {
  margin-top: auto;
  cursor: pointer;
}
